.App {
  margin: 0 auto;
  
  background-color: pink;
  width:700px;
  height: 600px;
  display: grid;
  grid-template-columns: 300px 200px 300px;
  z-index: 1;
}

.item{
  margin: auto;
  background: linear-gradient(to right,#C6DBF0,#A5C6E7,#87B2DD);
  height: 400px;
  width: 500px;
  border-radius: 10px;
  z-index: 2;
  margin-left: 40px;
  
}

.item-payment{
  margin: auto;
  background-color: whitesmoke;
  height: 150px;
  width: 300px;
  padding:30px;
  padding-bottom: 90px;
  border-radius: 4px;
  grid-column: 2/3;
  z-index: 3;
}

.price{
  font-size: 20px;
  color: whitesmoke;
  font-weight: 300;
}

.description{
  font-size: 15px;
  color: whitesmoke;
  font-weight: 300;
}

.item-details{
  margin-left: 30px;
  margin-bottom: auto;
  margin-top: auto;
}

.payment-details{
  color: grey;
  font-weight: 300;
}



.card_number{
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}

.card_name{
  font-size: 10px;
  margin: 0px;
  margin: 0px;
}

.card-number{
    height: 25px;
}

.card-month{
  margin: 0px;
  font-size: 10px
}

.card-year{
  margin: 0px;
  float:right;
  width:50%;
  font-size: 10px;
}
.close-modal{
  text-decoration: none;
  font-size: 40px;
  color: whitesmoke;
}
input, select{
  border: none;
  background: white;
}

input, label{
  display: block;
}

label{
  color:pink;
  font-size: 12px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

select{
  appearance: none;
}

.select-wrapper-month, .select-wrapper-year{
  position: relative;
}

.select-wrapper-month:after{
  font-family: FontAwesome;
  content: '\f107';
  font-size: 14px;
  position: absolute;
  bottom:0px;
  left: 52px;
  color: grey;
  pointer-events: none;
}

.select-wrapper-year:after{
  font-family: FontAwesome;
  content: '\f107';
  font-size: 14px;
  position: absolute;
  bottom:0px;
  left: 32px;
  color: grey;
  pointer-events: none;
  
}

.dropdown{
  display: grid;
  grid-template-columns: 60px 40px 40px 40px;
  grid-gap: 20px
}

.card-credentials{
  display: grid;
  grid-template-columns: 150px 50px;
  grid-gap:90px
}

.card-expiration-header{
  display: grid;
  grid-template-columns: 70px 20px ;
  grid-gap: 70px;

}